# various editor-related files
*~
.*.sw*
.#*
\#*
nb-configuration.xml
.externalToolBuilders
.lein*
.project
.settings
.classpath

# build artifacts
*.jar
build
target
lib
classes
autodoc

# clojars
pom.xml
*clojars.org
